.def-font {
    font-family: spartanMBregular;
    font-style: normal;
    font-size: 20px;
    color: #242424;
}
.main-logo {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid-1{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5%;
    margin-left: 5%;
}
.container-fluid-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5%;
    margin-left: 5%;
}
.container-fluid-3 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5%;
    margin-left: 5%;
}
.bg-1 {
    background-color: #ffffff;
    color: #242424;
}
.bg-2 {
    background-color: #ffffff;
    color: #242424;
}

.topnav {
    overflow: hidden;
    background-color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
}
.topnav img {
    width: 60px;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px; 
}
  
.topnav a {
    float: right;
    display: block;
    color: #242424;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}