.subhead-1 {
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: left;
    background-color: #ffffff;
}
.subhead-2 {
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: right;
    background-color: #313131;
    color: #ffffff;
}
.banner-1 {
    padding-bottom: 70px;
}
